*{
    margin:0;
    padding: 0;
    box-sizing: border-box; 
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.contenedor {
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}
.titulo {
    color:rgb(0, 2, 5);
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
}
header {
    width: 100%;
    height: 600px;
    background-color: rgb(255, 252, 252);
    background: -webkit-linear-gradient(to left, hsla(0, 3%, 94%, 0.459), hsla(127, 100%, 2%, 0.664)), url(logo\ de\ express\ wash.JPG);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, hsla(185, 41%, 95%, 0.459), hsla(197, 82%, 67%, 0.601)), url(logo\ de\ express\ wash.JPG);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    width: 100%;
}
nav {
    text-align: right;
    padding: 30px 50px 10px 0 ;
    background-color: rgba(255, 255, 255, 0.532);
}
nav > a {
    color:rgb(0, 0, 0);
    font-size:20px;
    font-weight: 100px;
    text-decoration: none;
    margin-right: 10px;
}
nav > a:hover {
    color:white;
    padding: 0.2vw;
    background-color: rgba(95, 115, 124, 0.635);
    border-radius: 10px;
}
@media screen and (max-width:992px) {
    .ancors {
        padding: 0;
        margin: 0;
    }
 
    .ancors a{
      display: flex;
      flex-direction: column;
      background-color: rgba(22, 22, 21, 0.394);
      color: rgb(255, 255, 255);
      text-align: center;
      margin: 0;
      ;
    }
}

header .textos-header{
    display: flex;
    height: 430px;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    text-shadow:blue ;

}

.textos-header h1{
    font-size: 4vw;
    color:#000000;
    text-align: end ;
}

.textos-header h2{
    font-size: 2vw;
    font-weight: 100px;
    color:#000000;
}
.wave {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.contenedor-sobre-nosotros {
    display: flex;
    justify-content: space-evenly;
}
.imagen-about-us {
    width: 50%;
}
.sobre-nosotros .contenedor-texto {
    width: 50%;
}
.contenedor-texto h3 {
    margin-bottom: 15px;
}
.contenedor-texto h3 span{
    background-color: #ff00d0;
    color:white;
    border-radius: 20%;
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    padding: 2px;
    box-shadow: 0 0 6px 0 black;
    margin-right: 5px; 
}
.contenedor-texto p {
    padding: 0 0 30px 15px;
    font-weight: 300;
    text-align: justify;
}
.Portafolio {
    background-color: rgba(246, 255, 0, 0.16);
}
.galeria-port {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.imagen-port {
    width: 24%;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
}

.imagen-port > img{
    width: 100%;
    height: 20%;
    object-fit: cover;
    display: block;
}
.hover-galeria{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    transform: scale(0);
    background: hsla(273,91%,27%, 0.7);
    transition: transform .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.hover-galeria img{
    width: 50px;

}

.hover-galeria p{
    color: #fff;
}

.imagen-port:hover .hover-galeria{
    transform: scale(1);
}